<h1>Deine Favoriten</h1>

{{#if favorites.length}}
  <ul>
    {{#each favorites}}
      <li>
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <a href="/events/{{this.id}}">Details ansehen</a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>Du hast noch keine Favoriten hinzugefügt.</p>
{{/if}}

<a href="/">Zurück zur Startseite</a>