<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
    <link href="https://fonts.cdnfonts.com/css/impact" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/space-mono" rel="stylesheet" />

  </head>

  <body>
    <header>
      <img src="public/uploads/logo.png" />
    </header>

    {{{body}}}

    <footer>
      <a href="/impressum">Impressum</a>
    </footer>
  </body>

</html>