<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="style.css" />
   
  </head>
<body>
  <header>
    <nav>
      <a href="/">
        <img class="logo" src="logo.png" />
      </a>
      <ul>
        {{#if session.userid}}  
      
          <li><a href="/profile">Profil</a></li>
          <li><a href="/favorites">Favoriten</a></li>
          <li><a href="/form">Event erstellen</a></li>
          <li><a href="/my-events"> Meine Events</a></li>
          
        {{else}}
         
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Registrieren</a></li>
          <li><a href="/form">Event erstellen</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>


  {{{body}}}

  <footer>
    <a href="/impressum">Impressum</a>
  </footer>
</body>