<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
    <link href="https://fonts.cdnfonts.com/css/impact" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/space-mono" rel="stylesheet" />

  </head>

  <body>
    <header>
      <a href="/"> <img class="logo" src="logo.png" /></a>
      <nav><ul>
          <li><a href="/login">login</a></li>
          <li><a href="/register">registrieren</a></li>
          <li><a href="/form">Event erstellen</a></li>
        </ul></nav>
    </header>

    <style>
      .logo{ width: 10em; } 
      a { text-decoration: none; color: #ffffff;
      font-family: "Outfit", sans-serif; line-height: 1.7; }

    </style>

    {{{body}}}

    <footer>
      <a href="/impressum">Impressum</a>
    </footer>
  </body>

</html>