<div section="div_from">
  <h1>Event erstellen</h1>
  <form
    action="/creat_event"
    enctype="multipart/form-data"
    method="post"
    id="creat_event"
  >
    <label for="title">Event-Name</label>
    <input type="text" name="title" />
    <label for="description">Beschreibung</label>
    <input type="text" name="description" />
    <label for="place">Ort</label>
    <input type="text" name="place" />
    <label for="date">Datum</label>
    <input type="date" name="date" />
    <input type="file" name="image" />
    <input type="submit" />
  </form>
</div>