
  <form
    action="/creat_event"
    enctype="multipart/form-data"
    method="post"
    id="creat_event"
    class="event-form"
    <h1>Event erstellen</h1>
  >
  <div class="input-group">
    <label for="title">Event-Name</label>
    <input type="text" name="title" />
  </div>
  <div class="input-group">
    <label for="description">Beschreibung</label>
    <input type="text" name="description" />
  </div>
  <div class="input-group">
    <label for="place">Ort</label>
    <input type="text" name="place" />
  </div>
  <div class="input-group">
    <label for="date">Datum</label>
    <input type="date" name="date" />
  </div>
  <div class="input-group">
    <p>Bild auswählen</p>
    <button type="button" class="custom-file-btn" onclick="document.getElementById('image').click();">Wählen Sie ein Bild</button>
  </div>
  <div class="input-group">
    <input type="submit" class="submit-btn" />
  </div>
</form>
</div>
