<h2>Login</h2>

<form action="/login" method="POST">
  E-Mail:
  <input name="username" type="text" /><br />
  Passwort:
  <input name="password" type="password" /><br />
  <input type="submit" value="Anmelden" />
</form>

<a href="/register" class="button">Registrieren</a>

<style>
  a { text-decoration: none; color: #ffffff; font-family: "Outfit", sans-serif;
  line-height: 1.7; }

</style>