<h1>Hallo, {{user.username}}!</h1>
<!-- Benutzername -->
<p><strong>Vorname:</strong> {{user.first_name}}</p>
<p><strong>Nachname:</strong> {{user.last_name}}</p>
<p><strong>E-Mail:</strong> {{user.email}}</p>