<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profilinformationen</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main class="profile-container">
      <div class="title">
        <h1>Hallo, {{user.first_name}}!</h1>
      </div>

      <form class="profile-form">
        <label for="first_name">Vorname:</label>
        <p id="first_name">{{user.first_name}}</p>

        <label for="last_name">Nachname:</label>
        <p id="last_name">{{user.last_name}}</p>

        <label for="username">E-Mail:</label>
        <p id="username">{{user.username}}</p>
      </form>
    </main>
    <style>
      body { font-family: "Outfit"; }
    </style>
  </body>
</html>