<h2>Registrieren</h2>

<form action="/register" method="POST">
  <label for="first_name">Vorname:</label>
  <input type="text" name="first_name" required />
  <label for="last_name">Nachname:</label>
  <input type="text" name="last_name" required />
  <label for="username"> E-Mail:</label>
  <input name="username" type="text" /><br />
  <label for="password"> Passwort:</label>
  <input name="password" type="password" /><br />
  <input type="submit" value="Registrieren" />
</form>